{{ define "main" }}

	{{ partial "banner" site.Data.banner2025Saadhana }}
	{{ partial "spotlight" site.Data.spotlight1Saadhana2025 }}
	{{ partial "gallery" site.Data.gallery2025Sponsors }}
	{{ partial "spotlight" site.Data.spotlight3QR }}
	{{ partial "spotlight" site.Data.spotlight2ShreyasiGopinath }}
	{{ partial "spotlight" site.Data.spotlight4SGDA }}
	{{ partial "gallery" site.Data.gallery2024Saadhana }}
	{{ partial "gallery" site.Data.gallery2024Sponsors }}
		
	{{ partial "footer" . }}

{{ end }}
